body {
  background: black;
  color: #ffd23e;
  font-family: arial;
}

aside {
    color: rgb(75,213,238);
}

article {
  text-align: justify;
  margin: auto;
  width: 15em;
  font-size: 6.666vw;
}

header {
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

strong {
  text-transform: uppercase;
  font-weight: normal;
}
