body {
  background: black;
  color: #ffd23e;
  font-family: arial;
}

article {
  text-align: justify;
  margin: auto;
  width: 15em;
}

article>section>header {
  text-align: center;
}

article>section>header>h1 {
  text-transform: uppercase;
}

article>section strong {
  text-transform: uppercase;
  font-weight: normal;
}
