body {
  background: black;
  color: #ffd23e;
  font-family: arial;
  font-size: 300%;
}

article {
  text-align: justify;
  margin: auto;
  width: 15em;
}

article>section>header {
  text-align: center;
}

article>section strong {
  text-transform: uppercase;
  font-weight: normal;
}

body {
  -webkit-perspective: 50vh;
  overflow: hidden;
  height: 100vh;
}

article {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin: center bottom;
  -webkit-transform: rotate3d(1, 0, 0, 45deg);
  -webkit-animation: crawler 75s linear;
  -webkit-animation-fill-mode: forwards;
}


@-webkit-keyframes crawler {
0%
  {
    -webkit-transform:  rotate3d(1, 0, 0, 45deg) translateY(110%);
    opacity: 1;
  }
90% {
    opacity: 1;
}
100%
  {
    -webkit-transform:  rotate3d(1, 0, 0, 45deg) translateY(-50%);
    opacity: 0;
  }
}
