body {
  background: black;
  color: #ffd23e;
  font-family: arial;
}

aside {
    color: rgb(75,213,238);
}

article {
  text-align: justify;
  margin: auto;
  width: 15em;
  font-size: 6.666vw;
}

header {
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

strong {
  text-transform: uppercase;
  font-weight: normal;
}

body {
  perspective: 50vh;
  overflow: hidden;
  height: 100vh;
}

article {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: center bottom;
  transform: rotate3d(1, 0, 0, 45deg);
  animation: crawler 7s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes crawler {
0%
  {
    transform: rotateX(45deg) translateY(100%);
    opacity: 1;
  }

90% {
    opacity: 1;
}
100%
  {
    transform: rotateX(45deg) translateY(-50%);
    opacity: 0;
  }
}
