body {
  background: black;
  color: #ffd23e;
  font-family: arial;
}

aside {
    color: rgb(75,213,238);
}

article {
  text-align: justify;
  margin: auto;
  width: 15em;
  font-size: 6.666vw;
}

header {
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

strong {
  text-transform: uppercase;
  font-weight: normal;
}

body {
  perspective: 50vh;
  height: 100vh;
  overflow: hidden;
}

article {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: center bottom;
  transform: rotate3d(1, 0, 0, 45deg);
}
